torch
torchvision
torchaudio
yacs
opencv-python
tqdm
tensorboard
onnxruntime
urllib3
typing-extensions
idna
charset-normalizer
certifi
requests
pillow
numpy
colorama
pyasn1
zipp
six
rsa
pyasn1-modules
oauthlib
cachetools
requests-oauthlib
MarkupSafe
importlib-metadata
google-auth
wheel
werkzeug
tensorboard-plugin-wit
tensorboard-data-server
protobuf
markdown
grpcio
google-auth-oauthlib
absl-py
pyreadline3
pyparsing
mpmath
humanfriendly
sympy
packaging
flatbuffers
coloredlogs