DATASETS:
  IMGS_DIR: ''
  TRAIN_META_PATH: ''
  VALID_META_PATH: ''
DATA_LOADER:
  NUM_WORKERS: 1
  PIN_MEMORY: True
INPUT:
  IMAGE_SIZE: [768, 768]
MODEL:
  DEVICE: cpu
  META_ARCHITECTURE: ShipsDetector
  TRAINABLE_LAYERS: 3
OUTPUT_DIR: outputs/ships_test
SOLVER:
  BATCH_SIZE: 4
  LR: 0.001
  LR_LAMBDA: 0.95
  MAX_ITER: 2048
  TYPE: Adam
TEST:
  BATCH_SIZE: 4